{% extends "base.html" %}

{% block title %}
Student Registration
{% endblock %}

{% block content %}

<div class="form-card">

    <h2>
        Student Registration
    </h2>

    <form method="POST">

        <label>
            Username
        </label>

        <input
            type="text"
            name="username"
            required
        >


        <label>
            Password
        </label>

        <input
            type="password"
            name="password"
            minlength="6"
            required
        >


        <button type="submit">
            Create Account
        </button>

    </form>

</div>

{% endblock %}
